# Web framework
fastapi
uvicorn[standard]
pydantic>=2
python-dotenv

# ML core
torch
transformers
shap

# Vietnamese NLP
underthesea
sacremoses
sentencepiece
pyyaml

# HF Hub & datasets
huggingface_hub
datasets

# Data & eval
numpy
pandas
scikit-learn

# Utils
requests
tqdm